:markdown-it
  # Welome
  
  Before you can proceed to the application for Model EU Strasbourg, you have to:
  
  1. read carefully our [Application Guide](/guide)
  2. authenticate via BETA, the network of Model EU simulations

div(layout='row' layout-sm='column')
  div(flex)
    md-button.md-primary.md-raised(href="/guide")
      md-icon(md-font-set="material-icons") help_outline
      | Application Guide
  div(flex)
    md-button.md-primary.md-raised(href="/auth/discourse_sso" target="_self")
      md-icon(md-font-set="material-icons") verified_user
      | Authentication via BETA
