div(layout='row' layout-align="center" layout-padding)
  md-whiteframe(layout='column', flex='50')
    .md-warn(ng-show='rpc.error')
      small {{ rpc.error }}
    form(layout='column')
      md-input-container
        md-icon(md-font-set="material-icons") mail
        input(type='text', ng-model='rpc.credentials.email', placeholder='email', aria-label='email')
      md-button.md-raised.md-primary(ng-click='rpc.reset()', aria-label='login') Reset password
    div(layout='row', layout-align='end')
      md-button(href='/login') Login
